DATABASE_URL=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority&appName=<app-name>

NEXTAUTH_URL=<your-nextauth-url>

NEXTAUTH_SECRET=<your-nextauth-secret>

NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=sppl-uploads
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dtcaaevst
CLOUDINARY_URL=cloudinary://193399199116978:-NG_3bs51YnPg-ceMrTabpHv5nE@dtcaaevst
