DATABASE_URL=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority&appName=<app-name>

NEXTAUTH_URL=<your-nextauth-url>

NEXTAUTH_SECRET=<your-nextauth-secret>

NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=<your-upload-preset>
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=<your-cloud-name>
CLOUDINARY_URL=cloudinary://<api-key>:<api-secret>@<cloud-name>
